body{
  --twitter-color:#3c9cd8;
  --twitter-background:#e6ecf0;
}
.app{
  display: flex;
  height:min-content;
  min-width: 900px;
  margin-left: 50;
  margin-right: 50px;
  padding: 0px 10px;
  
  
}
