.SidebarOption{
    display: flex;
    align-items:center;
    cursor: pointer;
    
    
    
}
.SidebarOption:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: 100ms ease-out;
}
.SidebarOption > .MuiSvgIcon-root {
    padding:10px;
    

}
.SidebarOption >h3 {
    font-weight:lighter;
    font-size: 20px;
    margin-right: 20px;
    
}
.SidebarOption--active{
    color: var(--twitter-color);
}