.widgets{
    flex: 0.3;
    padding-left: -30px;
}
.widgets__inputs{
    display: flex;
    align-items: center;
    background-color:var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.widgets__inputs >input{
    border: none;
    border-color: var(--twitter-background);
    background-color: var(--twitter-background);
}
.widgets__searchIcon{
    color:var(--twitter-color);
}
.widgets__widgetContainer >h2{
    font-size: 18px;
    font-weight: 800;
    padding-left: 30px;
}
